{{ $title := .Title | default .Site.Title }}
{{ $description := .Params.description | default "" }}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQQGSMX11Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-SQQGSMX11Z');
  </script>
  <!-- End Google Analytics -->

  <title>{{ $title }}</title>

  <!-- Meta tags -->
  {{ partial "meta.html" . }}

  <!-- Include Styles -->
  {{ partial "styles.html" .}}

  <!-- Include Fonts -->
  {{ partial "custom-fonts.html" .}}

  <!-- Custom CSS -->
  {{ partial "custom-css.html" .}}
  
  {{ if .Site.Params.features.darkMode.enable }}
  <!-- Initialize Dark Mode -->
  {{ partial "dark-mode/init.html" . }}
  {{ end }}

  <!-- Custom JavaScript -->
  {{ partial "custom-js.html" .}}
</head>