{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 publications-section">
  <div class="container">
    <h1 class="section-heading-page">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  </div>
  <div class="container filtr-publications">
    <div class="row" id="publication-card-holder">
      {{ range .publications }}
        {{ partial "cards/publication" . }}
      {{ end }}
    </div>
  </div>
</div>
