<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />

    {{- partial "header.html" . -}}
    {{- partial "opengraph.html" . -}}
    {{- partial "analytics.html" . -}}
    <script>
      theme = localStorage.getItem('theme-scheme') || localStorage.getItem('darkmode:color-scheme') || 'light';
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = theme === 'system' ? 'dark' : theme;
      } else if (theme === 'system') {
        theme = 'light';
      }
      document.documentElement.setAttribute('data-theme', theme);
    </script>
  </head>
  <body class="home-page">

    {{- partial "navigators/navbar.html" . -}}
    {{- partial "sections/home.html" . -}}

    {{ $sections := site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}
    {{ with index $sections "about" }}
      {{ if .section.enable }}
        <div class="container-fluid section-holder d-flex bg-primary home-about-panel">
          {{- partial "sections/about.html" . -}}
        </div>
      {{ end }}
    {{ end }}

    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}
    {{ partial "scripts.html" . }}
    {{- partial "misc/support.html" . -}}

  </body>
</html>
